{{ include( 'header.twig' ) }}

<body class="mondrian block-sizes">
    <main>

        <ul>
            <li class="field white w1">
                <div role="navigation" tabindex="-1" class="side-nav">
                    <ul>
                        {% for page in pages("analysis") if page.title and not page.hidden %}
                        <li{% if page.id == current_page.id %} class="active" {% endif %}>
                            <a href="{{ page.url }}">{{ page.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li class="field red r1">
                {{ content }}
            </li>
            <li class="field white w2">
                <div role="navigation" tabindex="-1" class="side-nav">
                    <ul>
                        {% for page in pages(depthOffset=-1) if page.title and not page.hidden %}
                        <li{% if page.id == current_page.id %} class="active" {% endif %}>
                            <a href="{{ page.url }}">{{ page.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li class="field blue b1 mon-copy">
                <p>
                    &copy; Wim4rk 2021
                </p>
            </li>
            <li class="field white w3 mon-soc">
                <!-- Loads from FontAwesome (themes/shared/css/font-awesome.min.css) -->
                {% for social in pages["_meta"].meta.social %}
                    <a href="{{ social.url }}" title="{{ social.title }}" role="button">
                        <i class="{{ social.icon }}" aria-hidden="true"></i>
                        <span class="sr-only">{{ social.title }}</span>
                    </a>
                {% endfor %}
            </li>
            <li class="field white w4"></li>
            <li class="field yellow y1"></li>
        </ul>

    </main>

    <script src="{{ theme_url }}/../shared/js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/../shared/js/utils.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/../shared/js/responsive-navbar.js" type="text/javascript"></script>
</body>
